Copyright (C) 2007-<%= grunt.template.today("yyyy") %>, GoodData(R) Corporation. All rights reserved.
<%= pkg.title || pkg.name %> - v<%= pkg.version %>
<%= grunt.template.today("yyyy-mm-dd HH:MM:ss") %>
Latest git commit: <%= gitInfo %>

